In [1]:
import pandas as pd# for data analysis
import numpy as np# for numerical functions
import plotly.express as px# for interactive plots

-load the data
- look at the data
- if required clean the data
- if required trnsform the data
- if required reduce the data
- if required create new features 
- visulaize the data
-compute statistics

In [2]:
df = pd.read_excel('data.xlsx')
df

   id first name Last name  Basic salary  d.a.  h.r.a  t.a department  fine
0   1        Ram    Shrama         30000   0.5    0.8  0.1      sales   600
1   2      Vijay    pandey         25000   0.3    0.8  0.1   purchase   299
2   3      Imran       ali         45000   0.4    0.8  0.1        rnd   588
3   4       Ajay    Pandey         25000   0.4    0.8  0.1      sales  1020
4   5      Vijay    Sharma         19500   0.5    0.6  0.1   purchase   399
5   6     Raohan    Kapoor         50000   0.3    0.8  0.1        rnd     0
6   7      Vidya     Singh         52000   0.4    0.8  0.1      sales     0
7   8      Suraj     Singh         95000   0.4    1.0  0.5    purchse   299
8   9      Arjun    kapoor         10000   0.3    0.6  0.1        rnd   299
9  10    Arun kr    Pandey         30000   0.4    0.8  0.1   purchase   299

In [3]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [4]:
df['first name']# series

0        Ram
1      Vijay
2      Imran
3       Ajay
4      Vijay
5     Raohan
6      Vidya
7      Suraj
8      Arjun
9    Arun kr
Name: first name, dtype: object

In [5]:
df[['first name','Last name']]# list of column

  first name Last name
0        Ram    Shrama
1      Vijay    pandey
2      Imran       ali
3       Ajay    Pandey
4      Vijay    Sharma
5     Raohan    Kapoor
6      Vidya     Singh
7      Suraj     Singh
8      Arjun    kapoor
9    Arun kr    Pandey

In [6]:
df.iloc[0]# iloc - index location - row wise access

id                   1
first name         Ram
Last name       Shrama
Basic salary     30000
d.a.               0.5
h.r.a              0.8
t.a                0.1
department       sales
fine               600
Name: 0, dtype: object

In [7]:
df.iloc[3].tolist()# convert to list

[4, 'Ajay', 'Pandey', 25000, 0.4, 0.8, 0.1, 'sales', 1020]

In [8]:
df.iloc[:4] # strarting 4 records

   id first name Last name  Basic salary  d.a.  h.r.a  t.a department  fine
0   1        Ram    Shrama         30000   0.5    0.8  0.1      sales   600
1   2      Vijay    pandey         25000   0.3    0.8  0.1   purchase   299
2   3      Imran       ali         45000   0.4    0.8  0.1        rnd   588
3   4       Ajay    Pandey         25000   0.4    0.8  0.1      sales  1020

In [9]:
df.iloc[-5:, :3]

   id first name Last name
5   6     Raohan    Kapoor
6   7      Vidya     Singh
7   8      Suraj     Singh
8   9      Arjun    kapoor
9  10    Arun kr    Pandey

In [10]:
df.head()# first 5 rows

   id first name Last name  Basic salary  d.a.  h.r.a  t.a department  fine
0   1        Ram    Shrama         30000   0.5    0.8  0.1      sales   600
1   2      Vijay    pandey         25000   0.3    0.8  0.1   purchase   299
2   3      Imran       ali         45000   0.4    0.8  0.1        rnd   588
3   4       Ajay    Pandey         25000   0.4    0.8  0.1      sales  1020
4   5      Vijay    Sharma         19500   0.5    0.6  0.1   purchase   399

In [11]:
df.tail()

   id first name Last name  Basic salary  d.a.  h.r.a  t.a department  fine
5   6     Raohan    Kapoor         50000   0.3    0.8  0.1        rnd     0
6   7      Vidya     Singh         52000   0.4    0.8  0.1      sales     0
7   8      Suraj     Singh         95000   0.4    1.0  0.5    purchse   299
8   9      Arjun    kapoor         10000   0.3    0.6  0.1        rnd   299
9  10    Arun kr    Pandey         30000   0.4    0.8  0.1   purchase   299

In [12]:
# missing values 
df.isnull().sum() # counnt of missing values

id              0
first name      0
Last name       0
Basic salary    0
d.a.            0
h.r.a           0
t.a             0
department      0
fine            0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10 non-null     int64
 1   first name    10 non-null     object
 2   Last name     10 non-null     object
 3   Basic salary  10 non-null     int64
 4   d.a.          10 non-null     float64
 5   h.r.a         10 non-null     float64
 6   t.a           10 non-null     float64
 7   department    10 non-null     object
 8   fine          10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 848.0+ bytes

In [14]:
df.describe() # summary statictics for numerical data

             id  Basic salary       d.a.      h.r.a        t.a         fine
count  10.00000     10.000000  10.000000  10.000000  10.000000    10.000000
mean    5.50000  38150.000000   0.390000   0.780000   0.140000   380.300000
std     3.02765  24106.303924   0.073786   0.113529   0.126491   301.232302
min     1.00000  10000.000000   0.300000   0.600000   0.100000     0.000000
25%     3.25000  25000.000000   0.325000   0.800000   0.100000   299.000000
50%     5.50000  30000.000000   0.400000   0.800000   0.100000   299.000000
75%     7.75000  48750.000000   0.400000   0.800000   0.100000   540.750000
max    10.00000  95000.000000   0.500000   1.000000   0.500000  1020.000000

In [15]:
df.head(3)

   id first name Last name  Basic salary  d.a.  h.r.a  t.a department  fine
0   1        Ram    Shrama         30000   0.5    0.8  0.1      sales   600
1   2      Vijay    pandey         25000   0.3    0.8  0.1   purchase   299
2   3      Imran       ali         45000   0.4    0.8  0.1        rnd   588

In [16]:
df['d.a.'] * df['Basic salary']\
+df['h.r.a'] * df['Basic salary']\
+df['t.a'] * df['Basic salary']\
+df['Basic salary']

0     72000.0
1     55000.0
2    103500.0
3     57500.0
4     42900.0
5    110000.0
6    119600.0
7    275500.0
8     20000.0
9     69000.0
dtype: float64

In [17]:
df['total salary']= df['d.a.'] * df['Basic salary']\
+df['h.r.a'] * df['Basic salary']\
+df['t.a'] * df['Basic salary']\
+df['Basic salary']
df.head(3)

,id,first name,Last name,Basic salary,d.a.,h.r.a,t.a,department,fine,total salary
0,1,Ram,Shrama,30000,0.5,0.8,0.1,sales,600,72000.0
1,2,Vijay,pandey,25000,0.3,0.8,0.1,purchase,299,55000.0
2,3,Imran,ali,45000,0.4,0.8,0.1,rnd,588,103500.0

In [18]:
df.columns.tolist()

['id',
 'first name',
 'Last name',
 'Basic salary',
 'd.a.',
 'h.r.a',
 't.a',
 'department',
 'fine',
 'total salary']

In [20]:
px.area(df, x = 'first name', y = 'total salary')