-list
   -indexed
   -ordered
   - heterogeneous
   -duplicate items
   -mutable
   - any type of element can be stored
   - representes  by '[ ]'
   - 'list()' methods is udes to convertany data type of list
 - creating list
 acsessing
 slicing
 methods in list
   - adding elements
      - append
      - insert
      - extend
    - removing elements
      - pop()
      - remove()
      -  clear()

   - utility
     - index
     count
     sort
     reverse
     copy

In [6]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [] #empty
z = ['appple','banana','cherry','orange','melon','mango']
a = ['alex', 5,'sam',7,'john',10,'james',15]
a3 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [2]:
class Movie:
    def __init__(self,name,year):
        self.name = name
        self.year = year

In [5]:
Movies = [
        Movie("the matrix",1990),
        Movie("the matrix reloader",2003),
        Movie("the matrix revolutions",2003),
        Movie("the matrix resurrenctions",2021)
        ]

In [7]:
name = 'Arpita yadav'
list(name)

['A', 'r', 'p', 'i', 't', 'a', ' ', 'y', 'a', 'd', 'a', 'v']

In [10]:
print(list(range(1,56)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]

In [15]:
print(a[0])
print(a[-1])
print(a[2])
print(a[5])

alex
15
sam
10

In [19]:
data = list(range(1,10))
print(data[:10])
print(data[10:20])
print(data[-10:])#  last 10 elments
print(data[23:26])
print(data[1::2])# odd numbers
print(data[::-1])#reverse list
print(data[5:3:-1])# reverse slice

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[]
[2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 5]

In [20]:
for item in a:
    print(item)

alex
5
sam
7
john
10
james
15

In [21]:
movies = []
movies.append('shrek')

In [22]:
movies.append('never have i ever')
movies.append('flower')
movies.append('wednesday')
movies.append('suryavansam')
movies.append('DDLJ')
movies.append('lll')
movies.append('100')
movies.append('mine')
movies.append('Put your head on my shulder')
movies.append('ever')
movies.append('never')

In [23]:
print(movies)

['shrek', 'never have i ever', 'flower', 'wednesday', 'suryavansam', 'DDLJ', 'lll', '100', 'mine', 'Put your head on my shulder', 'ever', 'never']

In [24]:
movies[2] = 'hit'#update
movies

['shrek',
 'never have i ever',
 'hit',
 'wednesday',
 'suryavansam',
 'DDLJ',
 'lll',
 '100',
 'mine',
 'Put your head on my shulder',
 'ever',
 'never']

In [26]:
movies.insert(3,'gargi')#insert
movies

['shrek',
 'never have i ever',
 'hit',
 'gargi',
 'gargi',
 'wednesday',
 'suryavansam',
 'DDLJ',
 'lll',
 '100',
 'mine',
 'Put your head on my shulder',
 'ever',
 'never']

In [27]:
#user create list
animelist = []
for i in range(5):
    name = input('enter an anime:')
    animelist.append(name)
print(animelist)

['memories', 'naruto', 'peace', 'king', 'demon slayer']

In [28]:
x = [1,2,3,4]
y =[5,6,7,8]
x+y #creates a new list

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
x.extend(y)# modifies x
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [31]:
movies

['shrek',
 'never have i ever',
 'hit',
 'gargi',
 'gargi',
 'wednesday',
 'suryavansam',
 'DDLJ',
 'lll',
 '100',
 'mine',
 'Put your head on my shulder',
 'ever',
 'never']

In [33]:
movies.remove('ever')# first elememt will be removed

In [34]:
movies

['shrek',
 'never have i ever',
 'hit',
 'gargi',
 'gargi',
 'wednesday',
 'DDLJ',
 'lll',
 '100',
 'mine',
 'Put your head on my shulder',
 'never']

In [35]:
movies.pop()# remove the last element

'never'

In [37]:
movies.pop(3)#removing the 3 element

'gargi'

In [38]:
movies

['shrek',
 'never have i ever',
 'hit',
 'wednesday',
 'DDLJ',
 'lll',
 '100',
 'mine',
 'Put your head on my shulder']

In [41]:
if 'lll' in movies:
    movies.remove('lll')
else:
    print('value not found')

value not found

In [40]:
movies

['shrek',
 'never have i ever',
 'hit',
 'wednesday',
 'DDLJ',
 '100',
 'mine',
 'Put your head on my shulder']

In [43]:
value = 'wed'
if value in movies:
    movies.remove(value)
else:
    print('value not found')

value not found

In [44]:
del a # deletes the variable from memory

In [2]:
books = [
    'my name',
    'hello',
    'half girlfriend',
    'Harry potar',
    'jjjjj',
    'kkkkk',
    'jjjj',
    'hhhh',
    'oooo',
    'ppp'
]

In [51]:
books.index('my name')

0

In [55]:
x = [12,34,54,22,12,1,2,12,12,0,87,65,]
print(x.count(1))
print(x.count(12))
print(x.count(34))

1
4
1

In [56]:
books.reverse()
print(books)

['ppp', 'oooo', 'hhhh', 'jjjj', 'kkkkk', 'jjjjj', 'Harry potar', 'half girlfriend', 'hello', 'my name']

In [57]:
books.sort() #sorts data in asscending order if all elements areof same type

In [58]:
books

['Harry potar',
 'half girlfriend',
 'hello',
 'hhhh',
 'jjjj',
 'jjjjj',
 'kkkkk',
 'my name',
 'oooo',
 'ppp']

In [59]:
books.sort(reverse=True)#sort data in decsending order
print(books)

['ppp', 'oooo', 'my name', 'kkkkk', 'jjjjj', 'jjjj', 'hhhh', 'hello', 'half girlfriend', 'Harry potar']

In [60]:
books

['ppp',
 'oooo',
 'my name',
 'kkkkk',
 'jjjjj',
 'jjjj',
 'hhhh',
 'hello',
 'half girlfriend',
 'Harry potar']

In [61]:
books_backup = books.copy()# a copy of variable is created at a different memory location

In [62]:
books2 = books

In [63]:
books

['ppp',
 'oooo',
 'my name',
 'kkkkk',
 'jjjjj',
 'jjjj',
 'hhhh',
 'hello',
 'half girlfriend',
 'Harry potar']

In [64]:
books2

['ppp',
 'oooo',
 'my name',
 'kkkkk',
 'jjjjj',
 'jjjj',
 'hhhh',
 'hello',
 'half girlfriend',
 'Harry potar']

In [65]:
books_backup

['ppp',
 'oooo',
 'my name',
 'kkkkk',
 'jjjjj',
 'jjjj',
 'hhhh',
 'hello',
 'half girlfriend',
 'Harry potar']

In [66]:
books.append('The allay of law')
print(books)
print(books2)
print(books_backup)

['ppp', 'oooo', 'my name', 'kkkkk', 'jjjjj', 'jjjj', 'hhhh', 'hello', 'half girlfriend', 'Harry potar', 'The allay of law']
['ppp', 'oooo', 'my name', 'kkkkk', 'jjjjj', 'jjjj', 'hhhh', 'hello', 'half girlfriend', 'Harry potar', 'The allay of law']
['ppp', 'oooo', 'my name', 'kkkkk', 'jjjjj', 'jjjj', 'hhhh', 'hello', 'half girlfriend', 'Harry potar']

In [67]:
books is books

True

In [68]:
books_backup is books

False

In [3]:
books.search(hello)

AttributeError: 'list' object has no attribute 'search'