- ### tuple
    - python default sequential data structure
    - indexed, ordered, heterogeneous
    - 'immutable'
    - represented by '( )'
    - tuple is faster
    - tuple( ) convert any sequence to tuple
    Only two functions 
       - count()
       - index()

-### set
    - unordered, unindexed, mutable
    - unique elements only
    - can store only immutable elements
    - represented by { }
    - set() convert any sequence to set

In [1]:
#tuple
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [4]:
#packing
a = 12,13,14
print(a)
print(type(a))

(12, 13, 14)
<class 'tuple'>

In [5]:
# single element tuple
b = (13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [7]:
#tuple unpacking
x1,x2,x3 = a
print(x1,x2,x3)

12 13 14

In [9]:
a = (1,2,3,3,4,5,5,4,46,78,43)
a1,*a2,a3 = a
print(a1,a2,a3)

1 [2, 3, 3, 4, 5, 5, 4, 46, 78] 43

In [10]:
a[0]

1

In [11]:
a[:4]

(1, 2, 3, 3)

In [12]:
a[:-5]

(1, 2, 3, 3, 4, 5)

In [13]:
for i in a:
    print(i)

1
2
3
3
4
5
5
4
46
78
43

In [16]:
x= (1,2,3,1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(5))
print(x.index(3))
print(x.index(3,5))

4
4
4
0
2
5

In [18]:
a = [1,2,3]
at = tuple(a)
al = list(at)
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

In [19]:
# set 
s = {1,3,4,3,4,5,6,}
print(s)
print(type(s))

{1, 3, 4, 5, 6}
<class 'set'>

In [20]:
s1 = set()# empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [22]:
s1.add(3)
s1.add(45)
s1.add(90)
s1.add('all')
s1.add('defaiult')
s1.add(89)
print(s1)

{3, 5, 6, 45, 'all', 'defaiult', 89, 90}

In [23]:
s1.discard(89)
print(s1)

{3, 5, 6, 45, 'all', 'defaiult', 90}

In [24]:
for i  in s1:
    print(i)

3
5
6
45
all
defaiult
90

In [25]:
# set operations
group1 = { 'Apple','Banana','Grapes','pineapple','cherry','melon'}
group2 = { 'Apple','avacado','Grapes','Pineapple','cherry','Watermelon','kiwi'}

In [26]:
print(group1 | group2)

{'cherry', 'Pineapple', 'Grapes', 'Watermelon', 'pineapple', 'melon', 'kiwi', 'Apple', 'Banana', 'avacado'}

In [27]:
print(group1.union(group2))

{'cherry', 'Pineapple', 'Grapes', 'Watermelon', 'pineapple', 'melon', 'kiwi', 'Apple', 'Banana', 'avacado'}

In [28]:
print(group1 & group2)

{'Apple', 'Grapes', 'cherry'}

In [29]:
print(group1.intersection(group2))

{'Apple', 'Grapes', 'cherry'}

In [30]:
print(group1 - group2)
print(group2 - group1)
print(group2.difference(group1))

{'Banana', 'pineapple', 'melon'}
{'Watermelon', 'avacado', 'kiwi', 'Pineapple'}
{'Watermelon', 'avacado', 'kiwi', 'Pineapple'}

In [32]:
# symmetric difference
print(group1 ^ group2)
print(group1.symmetric_difference(group2))

{'Watermelon', 'pineapple', 'kiwi', 'Banana', 'avacado', 'Pineapple', 'melon'}
{'Watermelon', 'pineapple', 'kiwi', 'Banana', 'avacado', 'Pineapple', 'melon'}

# task
  - create a list called reports that will hold reports of 7 students
  - each student will have a name and marks in 3 subjects
  - use for loop to display the report of each student

In [40]:
reports =[ 
    ['Rohan',
[    ['math', 90],
    [ 'science', 95],
    [ 'English', 85],

]
]]

In [41]:
for Rohan in reports:
    for detail in Rohan:
        if isinstance(detail, str):
            print(detail)

        if isinstance(detail, list):
            for subject in detail:
                print(subject[0],subject[1])

Rohan
math 90
science 95
English 85